<atlas-detail-page-container atlasScrollToTop>
  <atlas-detail-page-content>
    <div class="detail-wrapper mt-5">
      @if (selectedVersion) {
        <div class="font-bold-4xl detail-title mb-3">
          {{ selectedVersion.number }} -
          {{ selectedVersion.descriptionOutwardLine1 }}
        </div>
        <div class="font-bold-xl mb-2">
          <span data-cy="detail-subheading-id">
            {{ selectedVersion.ttfnid }}
          </span>
          <span data-cy="total-range">
            -
            <atlas-date-range-text [dateRange]="maxValidity!" />
          </span>
        </div>
      } @else {
        <h1 class="font-bold-4xl mb-5">
          {{ 'TTFN.NEW' | translate }}
        </h1>
      }
      @if (showSwitch) {
        <div class="col-6 mt-3">
          <atlas-switch-version
            (switchVersion)="switchVersion($event)"
            [currentRecord]="selectedVersion!"
            [records]="versions"
            [switchDisabled]="editMode()"
          />
        </div>
      }

      @if (selectedVersion) {
        <div class="form-title-section mt-4">
          <h2 class="font-bold-2xl color-gray-900">
            {{ 'TTFN.DETAIL_TIMETABLE_INFORMATION' | translate }} -
            {{ 'COMMON.VERSION' | translate }}
            {{ selectedVersionIndex! + 1 }}
          </h2>
          <p>
            <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
            <span class="color-gray-900">{{ 'COMMON.STATUS_TYPES.' + selectedVersion.status | translate }}</span>
          </p>
        </div>
      }

      <form>
        @if (!selectedVersion) {
          <h2 class="font-bold-2xl mb-4">
            {{ 'TTFN.NEW_TIMETABLE_INFORMATION' | translate }}
          </h2>
        }

        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: ' 30.003 | ', translate: false },
            {
              label: 'FORM.MAX_CHARS',
              translate: true,
              arg: { key: 'numberOfChars', value: '7' },
            },
          ]"
          [field]="timetableFieldNumberForm.number"
          [required]="true"
          class="d-block w-50"
          fieldName="number"
          fieldLabel="TTFN.NUMBER"
        />

        <div class="col-12 d-flex gap-4">
          <atlas-text-field
            [fieldExamples]="[
              { label: 'FORM.FOR_EXAMPLE', translate: true },
              {
                label: ' Abtwil - Spisegg - St. Gallen Bahnhof | ',
                translate: false,
              },
              {
                label: 'FORM.MAX_CHARS',
                translate: true,
                arg: { key: 'numberOfChars', value: descriptionMaxChars },
              },
            ]"
            [field]="timetableFieldNumberForm.descriptionOutwardLine1"
            [required]="true"
            class="flex-grow-1"
            fieldName="descriptionOutwardLine1"
            fieldLabel="TTFN.DESCRIPTION_OUTWARD"
          />
          <atlas-text-field
            [fieldExamples]="[
              { label: 'FORM.FOR_EXAMPLE', translate: true },
              {
                label: ' St. Gallen Bahnhof - Spisegg - Abtwil | ',
                translate: false,
              },
              {
                label: 'FORM.MAX_CHARS',
                translate: true,
                arg: { key: 'numberOfChars', value: descriptionMaxChars },
              },
            ]"
            [field]="timetableFieldNumberForm.descriptionReturnLine1"
            [required]="false"
            class="flex-grow-1"
            fieldName="descriptionReturnLine1"
            fieldLabel="TTFN.DESCRIPTION_RETURN"
          />
        </div>
        <div class="col-12 d-flex gap-4">
          <div class="flex-50">
            @if (!timetableFieldNumberForm.descriptionOutwardLine2().hidden()) {
              <atlas-text-field
                [field]="timetableFieldNumberForm.descriptionOutwardLine2"
                fieldName="descriptionOutwardLine2"
              />
            }
          </div>
          <div class="flex-50">
            @if (!timetableFieldNumberForm.descriptionReturnLine2().hidden()) {
              <atlas-text-field
                [field]="timetableFieldNumberForm.descriptionReturnLine2"
                fieldName="descriptionReturnLine2"
              />
            }
          </div>
        </div>
        <div class="col-12 d-flex gap-4">
          <div class="flex-50">
            @if (!timetableFieldNumberForm.descriptionOutwardLine3().hidden()) {
              <atlas-text-field
                class="flex-grow-1"
                [field]="timetableFieldNumberForm.descriptionOutwardLine3"
                fieldName="descriptionOutwardLine3"
              />
            }
          </div>
          <div class="flex-50">
            @if (!timetableFieldNumberForm.descriptionReturnLine3().hidden()) {
              <atlas-text-field
                class="flex-grow-1"
                [field]="timetableFieldNumberForm.descriptionReturnLine3"
                fieldName="descriptionReturnLine3"
              />
            }
          </div>
        </div>

        <atlas-means-of-transport-picker
          [field]="timetableFieldNumberForm.meanOfTransport"
          [meansOfTransportToShow]="allowableMeansOfTransport"
          [multiSelectMode]="false"
        />

        <span class="font-bold-2xl d-block mt-4">{{ 'FORM.KEY_DATA' | translate }}</span>
        <div class="w-50">
          <atlas-date-range
            [validFromField]="timetableFieldNumberForm.validFrom"
            [validToField]="timetableFieldNumberForm.validTo"
          />
        </div>

        <div class="col-12 d-flex pb-3">
          <div class="d-flex flex-column col-6 pt-3">
            <atlas-bo-select
              [field]="timetableFieldNumberForm.businessOrganisation"
              [disabled]="!editMode()"
              [sboidsRestrictions]="boSboidRestriction"
              data-cy="businessOrganisation"
            />
          </div>
        </div>
      </form>

      @if (selectedVersion) {
        <div class="mt-5">
          <atlas-user-detail-info [record]="selectedVersion" [applicationType]="'TTFN'" />
        </div>
      }
    </div>
  </atlas-detail-page-content>

  <atlas-detail-footer>
    <atlas-button
      (buttonClicked)="back()"
      [footerEdit]="editMode()"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="whiteFooterNonEdit"
    />
    <atlas-button
      (buttonClicked)="toggleEdit()"
      [footerEdit]="editMode()"
      buttonDataCy="cancel"
      buttonText="COMMON.CANCEL"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="me-3"
    />
    <atlas-button
      (buttonClicked)="save()"
      [disabled]="!dirty()"
      [footerEdit]="editMode()"
      [submitButton]="true"
      buttonDataCy="save-item"
      buttonText="COMMON.SAVE"
      buttonType="whiteFooterEdit"
    />
    @if (selectedVersion) {
      <ng-container>
        @if (selectedVersion.status !== 'IN_REVIEW' || isAtLeastSupervisor) {
          <atlas-button
            (buttonClicked)="toggleEdit()"
            applicationType="TTFN"
            [businessOrganisation]="selectedVersion.businessOrganisation"
            [disabled]="editMode() || selectedVersion.status === 'REVOKED'"
            buttonDataCy="edit-item"
            buttonText="COMMON.EDIT"
            buttonType="edit"
            wrapperStyleClass="ms-3"
          />
        }
        @if (!editMode() && !isNew && selectedVersion.status !== 'REVOKED') {
          <atlas-revoke-button (revokeClicked)="revoke()" applicationType="TTFN" />
        }
        <atlas-button
          (buttonClicked)="delete()"
          [disabled]="editMode()"
          buttonDataCy="delete-item"
          buttonText="COMMON.DELETE"
          buttonType="delete"
          wrapperStyleClass="ms-3"
        />
      </ng-container>
    }
  </atlas-detail-footer>
</atlas-detail-page-container>
