# Ignore all files in .github
*

# Allow navigating into subdirectories (required for nested exceptions)
!*/

# Allow files with "project" in the name
!*project*

**/node_modules/**

# allow this file
!.gitignore

.env