server:
  port: 8087
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always
info:
  app:
    name: workflow
    version: @version@
    buildtime: @timestamp@

spring:
  application:
    name: workflow
  datasource:
    url: jdbc:postgresql://localhost:5438/workflow
    username: user
    password: pwd
    driver-class-name: org.postgresql.Driver
    application:
      name: workflow
  jpa:
    open-in-view: false
  jmx:
    enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/2cda5d11-f0ac-46b3-967d-af1b2e1bd01a/v2.0
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: true
      properties:
        spring:
          json:
            trusted:
              packages: "*"
        max:
          poll:
            interval:
              ms: 1200000
    producer:
      properties:
        max:
          request:
            size: 3000000
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      retries: 1

kafka:
  atlas:
    mail:
      topic: atlas.mail
      groupId: atlas.kafka.mail.groupId
    user:
      administration:
        topic: atlas.user.administration
        groupId: atlas.kafka.workflow.user.administration.groupId

auth:
  audience:
    service-name: 87e6e634-6ba1-4e7a-869d-3348b4c3eafc

mail:
  workflow:
    line:
      receiver: TechSupport-ATLAS@sbb.ch
      from: no-reply-atlas@sbb.ch
    atlas:
      business: TechSupport-ATLAS@sbb.ch
atlas:
  client:
    gateway:
      url: "http://localhost:8888"