<div class="ps-5 pt-5">
  <atlas-button
    (buttonClicked)="newLine()"
    applicationType="LIDI"
    buttonDataCy="new-line"
    buttonText="LIDI.LINE.NEW"
    buttonType="createCheckingPermission"
    wrapperStyleClass="mb-3"
  />
  <atlas-button
    (buttonClicked)="newSubline()"
    applicationType="LIDI"
    buttonDataCy="new-subline"
    buttonText="LIDI.SUBLINE.NEW"
    buttonType="createCheckingPermission"
    wrapperStyleClass="mb-5"
  />

  <div class="white-table-container-no-tabs">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  </div>
</div>
