@if (fieldLabel) {
  <atlas-label-field
    [fieldExamples]="fieldExamples()"
    [required]="required()"
    fieldLabel="{{ fieldLabel }}"
    [infoIconLink]="infoIconLink()"
    [infoIconTitle]="infoIconTitle()"
  />
}
<form [formGroup]="formGroup">
  <div [class]="{ 'text-field-wrapper': paddingBottom() }">
    <div class="text-field-flex">
      <ng-container #customChildInputPrefixTemplate *ngTemplateOutlet="customChildInputPrefixTemplate" />
      <input
        [formControlName]="controlName"
        type="text"
        placeholder="{{ placeholder() | translate }}"
        [attr.data-cy]="controlName"
        atlasEmptyToNull
      />
      <ng-container #customChildInputPostfixTemplate *ngTemplateOutlet="customChildInputPostfixTemplate" />
    </div>
    <atlas-field-error [control]="formGroup.get(controlName)" />
  </div>
</form>
