<div atlasScrollToTop>
  <atlas-detail-page-container>
    <atlas-detail-page-content>
      <div class="detail-wrapper">
        <h1 class="font-bold-4xl mb-5 mt-5">
          {{
            transportCompanyForm.abbreviation().value() + ' - ' + transportCompanyForm.businessRegisterName().value()
          }}
        </h1>

        <h2 class="font-bold-2xl color-gray-900">
          {{ 'BODI.TRANSPORT_COMPANIES.BASIC_DATA' | translate }}
        </h2>

        <div class="mb-5">
          <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
          @if (transportCompanyForm.status().value(); as status) {
            <span class="color-gray-900">{{
              'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANY_STATUS.' + status | translate
            }}</span>
          } @else {
            <span class="color-gray-900" id="status-value">N/A</span>
          }
        </div>
        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="number"
              fieldLabel="BODI.TRANSPORT_COMPANIES.NUMBER"
              [field]="transportCompanyForm.number"
            />
          </div>

          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="abbreviation"
              fieldLabel="BODI.TRANSPORT_COMPANIES.ABBREVIATION"
              [field]="transportCompanyForm.abbreviation"
            />
          </div>
        </div>

        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="description"
              fieldLabel="BODI.TRANSPORT_COMPANIES.DESCRIPTION"
              [field]="transportCompanyForm.description"
            />
          </div>
          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="enterpriseId"
              fieldLabel="BODI.TRANSPORT_COMPANIES.ENTERPRISE_ID"
              [field]="transportCompanyForm.enterpriseId"
            />
          </div>
        </div>

        <span class="font-bold-2xl">{{ 'BODI.TRANSPORT_COMPANIES.OFFICIAL_DATA' | translate }}</span>
        <div class="col-12 d-flex mt-3">
          <div class="d-flex flex-column col pe-3">
            <atlas-text-field-sf
              fieldName="businessRegisterName"
              fieldLabel="BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NAME"
              [field]="transportCompanyForm.businessRegisterName"
            />
          </div>
        </div>

        <div class="col-12 d-flex mt-3">
          <div class="d-flex flex-column col pe-3">
            <atlas-text-field-sf
              fieldName="businessRegisterNumber"
              fieldLabel="BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NUMBER"
              [field]="transportCompanyForm.businessRegisterNumber"
            />
          </div>
        </div>

        <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
        <div class="col-12 d-flex mt-3">
          <div class="d-flex flex-column col-6">
            <atlas-form-comment-sf [displayLabel]="false" [field]="transportCompanyForm.comment" />
          </div>
        </div>

        <div class="mt-5">
          <atlas-relation
            (addRelation)="facade.unselectRelation()"
            (deleteRelation)="deleteRelation()"
            (updateRelation)="updateRelation()"
            (editModeChanged)="facade.toggleEditMode()"
            (selectedIndexChanged)="facade.selectRelation($event)"
            [editMode]="facade.isEditMode()"
            [editable]="editPermissions && !facade.isEditMode()"
            [records]="facade.transportCompanyRelationsReadonly()"
            [selectedIndex]="facade.selectedRelationIndex()"
            [tableColumns]="transportCompanyRelationTableColumns()"
            titleTranslationKey="BODI.TRANSPORT_COMPANIES.BO_RELATION_TITLE"
          >
            @if (facade.isEditMode()) {
              <form class="col-12 d-flex">
                <atlas-bo-select-sf
                  [disabled]="facade.isRelationSelected()"
                  [field]="transportCompanyRelationForm.businessOrganisation"
                  valueExtraction=""
                  class="col-6 pe-3 mt-3"
                  data-cy="businessOrganisation"
                />
                <atlas-date-range-sf
                  class="col-6"
                  [validFromField]="transportCompanyRelationForm.validFrom"
                  [validToField]="transportCompanyRelationForm.validTo"
                />
              </form>
            }
          </atlas-relation>
        </div>
      </div>
    </atlas-detail-page-content>

    <atlas-detail-footer>
      <atlas-button
        [footerEdit]="facade.isEditMode()"
        atlasBackButton
        buttonDataCy="back-to-overview"
        buttonText="COMMON.BACK_TO_OVERVIEW"
        [buttonType]="AtlasButtonType.WHITE_FOOTER_NON_EDIT"
      />
      <atlas-button
        (buttonClicked)="leaveEditModeWithDialog()"
        [footerEdit]="facade.isEditMode()"
        buttonDataCy="cancel"
        buttonText="COMMON.CANCEL"
        [buttonType]="AtlasButtonType.WHITE_FOOTER_EDIT_MODE"
        wrapperStyleClass="me-3"
      />
      <atlas-button
        (click)="saveRelation()"
        [disabled]="!transportCompanyRelationForm().dirty()"
        [footerEdit]="facade.isEditMode()"
        [submitButton]="true"
        buttonDataCy="save-item"
        buttonText="COMMON.SAVE"
        [buttonType]="AtlasButtonType.WHITE_FOOTER_EDIT_MODE"
      />
    </atlas-detail-footer>
  </atlas-detail-page-container>
</div>
