<div atlasScrollToTop>
  <atlas-detail-page-container>
    <atlas-detail-page-content>
      <div class="detail-wrapper">
        <h1 class="font-bold-4xl mb-5 mt-5">
          {{ companyForm.uicCode().value() + ' - ' + companyForm.name().value() }}
        </h1>

        <h2 class="font-bold-2xl color-gray-900">
          {{ 'BODI.COMPANIES.BASIC_DATA' | translate }}
        </h2>

        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="uicCode"
              fieldLabel="BODI.COMPANIES.UIC_CODE"
              [field]="companyForm.uicCode"
            />
          </div>

          <div class="d-flex flex-column col-6 pe-3">
            <atlas-text-field-sf
              fieldName="countryCodeIso"
              fieldLabel="BODI.COMPANIES.COUNTRY_CODE"
              [field]="companyForm.countryCodeIso"
            />
          </div>
        </div>

        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-12 pe-3">
            <atlas-text-field-sf
              fieldName="shortName"
              fieldLabel="BODI.COMPANIES.SHORT_NAME"
              [field]="companyForm.shortName"
            />
          </div>
        </div>

        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-12 pe-3">
            <atlas-text-field-sf fieldName="name" fieldLabel="BODI.COMPANIES.NAME" [field]="companyForm.name" />
          </div>
        </div>

        <div class="col-12 d-flex">
          <div class="d-flex flex-column col-12 pe-3">
            <atlas-text-field-sf fieldName="url" fieldLabel="BODI.COMPANIES.URL" [field]="companyForm.url">
              <ng-template #customChildInputPostfixTemplate>
                <a [attr.href]="prependHttp(companyForm.url().value())" target="_blank" rel="noopener">
                  <atlas-link-icon />
                </a>
              </ng-template>
            </atlas-text-field-sf>
          </div>
        </div>
      </div>
    </atlas-detail-page-content>

    <atlas-detail-footer>
      <atlas-button
        atlasBackButton
        buttonDataCy="back-to-overview"
        buttonText="COMMON.BACK_TO_OVERVIEW"
        buttonType="whiteFooterNonEdit"
      />
    </atlas-detail-footer>
  </atlas-detail-page-container>
</div>
